/* ---------- MEMBER LIST PAGE ---------- */
.member-list td:nth-child(1) { /* 번호 */
	width: 8%;	
}
.member-list td:nth-child(2) { /* 이메일 */
	width: 15%;
}
.member-list td:nth-child(2) a { 
	color: rgb(100, 100, 100);
}
.member-list td:nth-child(2) a:hover { 
	color: rgb(210, 40, 40);
}
.member-list td:nth-child(3) { /* 이름 */
	width: 10%;	
}
.member-list td:nth-child(4) { /* 연락처 */
	width: 12%;	
}
.member-list td:nth-child(5) { /* 주소 */
	text-align: left;
}
.member-list td:nth-child(6) { /* 등급 */
	width: 10%;	
	font-size: 13px;
}
.member-list td:nth-child(7) { /* 가입일 */
	width: 12%;
}
.member-list td:nth-child(8) { /* 수정/삭제 */
	width: 8%;	
	padding: 0 3px;
}
.member-list td:nth-child(8) a {
	color: rgb(170, 170, 170);
	font-size: 16px;
	margin: 0 5px;
}
.member-list td:nth-child(8) a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;
}


/* ---------- PRODUCT LIST PAGE ---------- */
.product-list td:nth-child(1) { /* 번호 */
	width: 8%;	
}
.product-list td:nth-child(2) { /* 구분 */
	width: 9%;
}
.product-list td:nth-child(3) { /* 상품명 */
	text-align: left;
}
.product-list td:nth-child(3) a { 
	color: rgb(100, 100, 100);
}
.product-list td:nth-child(3) a:hover { 
	color: rgb(210, 40, 40);
}
.product-list td:nth-child(4) { /* 가격 */
	width: 9%;	
}
.product-list td:nth-child(5) { /* 용량 */
	width: 9%;
}
.product-list td:nth-child(6) { /* 칼로리 */
	width: 9%;	
}
.product-list td:nth-child(7) { /* 원산지 */
	width: 9%;
}
.product-list td:nth-child(8) { /* 등록일 */
	width: 12%;
}
.product-list td:nth-child(9) { /* 수정/삭제 */
	width: 8%;	
	padding: 0 3px;
}
.product-list td:nth-child(9) a {
	color: rgb(170, 170, 170);
	font-size: 16px;
	margin: 0 5px;
}
.product-list td:nth-child(9) a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;
}


/* ---------- STORE LIST PAGE ---------- */
.store-list td:nth-child(1) { /* 번호 */
	width: 8%;	
}
.store-list td:nth-child(2) { /* 매장명 */
	width: 25%;
}
.store-list td:nth-child(2) a { 
	color: rgb(100, 100, 100);
}
.store-list td:nth-child(2) a:hover { 
	color: rgb(210, 40, 40);
}
.store-list td:nth-child(3) { /* 주소 */
	text-align: left;
}
.store-list td:nth-child(4) { /* 연락처 */
	width: 15%;
}
.store-list td:nth-child(5) { /* 등록일 */
	width: 15%;	
}
.store-list td:nth-child(6) { /* 수정/삭제 */
	width: 8%;	
	padding: 0 3px;
}
.store-list td:nth-child(6) a {
	color: rgb(170, 170, 170);
	font-size: 16px;
	margin: 0 5px;
}
.store-list td:nth-child(6) a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;
}


/* ---------- INFOMATION PAGE: DEFALUT ---------- */
.infomation-box {
	width: 950px;
	padding: 50px;
	padding-top: 60px;
	border-top: 3px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 4px 0px rgb(150, 150, 150);
}
.infomation-item {
	padding: 20px 0;
	margin-bottom: 35px;
	display: flex;
	border-left: 2px solid rgb(210, 40, 40);
	border-radius: 3px;
	box-shadow: 0px 1px 5px 1px rgb(200, 200, 200);
}
.infomation-item .item-left,
.infomation-item .item-right {
	width: 50%;
	height: 40px;
	padding: 0 20px;
	display: flex;
	align-items: center;	
	font-size: 15px;
}
.infomation-item .title {
	width: 25%;
	font-weight: bold;
}
.infomation-item .title small {
	font-size: 13px;
}
.infomation-item .content {
	width: 75%;
}
.infomation-item input {
	width: 100%;
	height: 30px;
	padding: 3px 10px;
	border: 1px solid #ccc;
	font-size: 14px;
}
.infomation-item input:read-only {
	border: none;
}
.infomation-item input::placeholder {
	font-size: 13px;
}
.infomation-item select {
	width: 50%;
	height: 30px;
	padding: 2px 10px;
	font-size: 13px;
}
.infomation-item select:focus {
	border: 1px solid rgb(100, 100, 100);
}
.infomation-btn {
	padding-left: 0 20px;
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.infomation-btn div button {
	border: 1px solid rgb(210, 40, 40);
	background-color: rgb(210, 40, 40);
	color: white;
}
.infomation-btn div:nth-child(1) button {
	border: 1px solid rgb(100, 100, 100);
	background-color: white;
	color: rgb(100, 100, 100);
}


/* ---------- MEMBER INFOMATION PAGE ---------- */
.member-item input {
	width: 83%;
	vertical-align: middle;
}
.member-item button {
	width: 40px;
	height: 30px;
	border: 1px solid #ccc;
	margin-left: 3px;
	font-size: 13px;
	vertical-align: middle;
}
.member-item button:hover {
	border: 1px solid rgb(210, 40, 40);
}
#agree-chk input {
	width: 3%;
	margin: 0;
	margin-right: 8px;
    position: relative;
    top: 1px;
}
#agree-chk span {
	font-size: 15px;
	font-weight: bold;
}


/* ---------- PRODUCT INFOMATION PAGE ---------- */
.prod-item input {
	border: 1px solid #ccc;
}
.prod-item input[type=number] {
	width: 50%;
}
.prod-item label[for=attached] {
	width: 70px;
	height: 30px;	
	line-height: 30px;
	border: 1px solid  rgb(100, 100, 100);
	border-radius: 3px;	
	color: rgb(100, 100, 100);
	font-size: 13px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.prod-item label[for=attached]:hover {
	border: 1px solid rgb(210, 40, 40);	
	color: rgb(210, 40, 40);
}
.prod-item input[type=file] {
	width: 0;
	height: 0;
	padding: 0;
	border: 0;
}
.prod-item .filename:read-only {
	width: 73%;
	border: 1px solid #ccc;
	border-radius: 3px;	
	font-size: 13px;
}

/* ---------- STORE INFOMATION PAGE ---------- */
.store-item label[for=attached] {
	width: 70px;
	height: 30px;	
	line-height: 30px;
	border: 1px solid  rgb(100, 100, 100);
	border-radius: 3px;	
	color: rgb(100, 100, 100);
	font-size: 13px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.store-item label[for=attached]:hover {
	border: 1px solid rgb(210, 40, 40);	
	color: rgb(210, 40, 40);
}
.store-item input[type=file] {
	width: 0;
	height: 0;
	padding: 0;
	border: 0;
}
.store-item .filename:read-only {
	width: 73%;
	border: 1px solid #ccc;
	border-radius: 3px;	
	font-size: 13px;
}
.store-item #addr1:read-only {
	border: 1px solid #ccc;
}