@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

/* ---------- LAYOUT ---------- */
body, * {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}
h1 {
	font-size: 24px;
	font-weight: bold;
}
h2 {
	font-size: 22px;
	font-weight: bold;
}
input {
	border: 1px solid #ccc;
	border-radius: 3px;	
	outline: 0;
	vertical-align: middle;
}
input::placeholder {
	color: #bbb;
	font-size: 14px;
}
input[type=number]::-webkit-inner-spin-button {
  	opacity: 1;
}
select {
	border: 1px solid #ccc;
	border-radius: 3px;	
	outline: 0;	
	vertical-align: middle;
}
select:focus {
	border: 1px solid rgb(100, 100, 100);
}
button {
	width: 80px;
	height: 30px;
	padding: 3px 5px;
	border: 1px solid  rgb(120, 120, 120);
	border-radius: 3px;
	background-color: transparent;
	font-size: 14px;
	color: rgb(120, 120, 120);
	cursor: pointer;
	outline: 0;	
	vertical-align: middle;
}
button:hover {
	border: 1px solid rgb(210, 40, 40);
	color: rgb(210, 40, 40);	
}
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;	
	outline: 0; 
	resize: none;
}
table {
	width: 100%;
	margin: 10px 0;
}
table tr {
	height: 50px; 
	border: 1px solid #ccc;
}
table thead tr {
	border-top: 3px solid rgb(52, 52, 54);
}
table th {
	font-weight: bold;
}
table th, table td{
	padding: 0 10px; 
	font-size: 14px; 
	text-align: center;
	vertical-align: middle;
}
.flex-ctr {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-fs {
	display: flex;
	justify-content: flex-start;
}
.flex-fe {
	display: flex;
	justify-content: flex-end;
}
.container {
	width: 1670px;
	padding: 0px 10px;			
	margin: 0 auto; 
}
.main-wrap {
	width: 1670px;		
	margin: 0 auto;
	display: flex;
}

/* ---------- ASIDE RIGHT CONENT LAYOUT ---------- */
.main-content {
	width: 1450px;
	padding-top: 50px;
	padding-bottom: 500px;
	padding-left: 50px;
	border-left: 1px solid #ccc;
}
.main-content h2 {
	margin-bottom: 40px;
}


/* ---------- TABLE BOTTOM LAYOUT ---------- */
.main-content>.bottom {
	margin: 15px 0 20px 0;
}
.main-content>.bottom button,
.main-content>.bottom select,
.main-content>.bottom input {
	height: 30px;
	padding: 3px 5px;
}
.main-content>.bottom>button {
	border: 1px solid rgb(210, 40, 40);
	color: rgb(210, 40, 40);
}
.main-content>.bottom .search {
	float: right;
}
.main-content>.bottom .search select {
	width: 90px;
}
.main-content>.bottom .search input {
	width: 150px;
	padding-left: 10px;
}
.main-content>.bottom .search button {
	width: 65px;
	border: 1px solid rgb(210, 40, 40);
	background-color: rgb(210, 40, 40);
	color: white;
}
.main-content>.bottom input[name="search-keyword"]::placeholder {
	color: #bbb;
	font-size: 13px;
}


/* ---------- HEADER ---------- */
header {
	min-width: 1670px;
	padding: 20px 0;
	box-shadow: 0 5px 5px -5px rgb(150, 150, 150);
}
header>.container,
header .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header>.container h1 {
	padding: 5px 0;
}
header .navbar li {
	height: 32px;
	margin-left: 20px;
	font-size: 16px;
	text-align: center;
}
header .navbar li a {
	height: 32px;
	padding: 5px;
	line-height: 23px;
	color: rgb(150, 150, 150);
	display: inline-block;
}
header .navbar li a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;
}
header .navbar li a.active {
	color: rgb(210, 40, 40);
	border-bottom: 1px solid rgb(210, 40, 40);
}
header #main-nav li {
	margin: 0 45px;
	font-size: 17px;
}
header #main-nav li a:not([class="active"]):hover {
	color: rgb(150, 150, 150);
	border-bottom: 1px solid rgb(150, 150, 150);
	transition: 0s;
}


/* --------- ASIDE --------- */
aside {
	width: 200px;
	padding-top: 30px;
	border-left: 1px solid #ccc; 
}

aside ul li {
	height: 35px;
	margin: 15px 0;
	font-size: 16px;
}
aside ul li a {
	width: 100%;
	height: 35px;
	line-height: 34px;
	padding-left: 20px;
	color: rgb(150, 150, 150);
	display: inline-block;
}
aside ul li a.active {
	background-color: rgb(210, 40, 40);
	color: white;
}
aside ul li span {
	margin-right: 5px;
}


/* --------- FOOTER --------- */
footer {
	min-width: 1670px;
	padding: 50px 0;
	box-shadow: 0 -5px 5px -5px rgb(150, 150, 150);
}
footer h3 {
	color: rgb(150, 150, 150);
	font-size: 22px;
	font-weight: bold;
}
footer p {
	margin: 40px 0;
	color: rgb(150, 150, 150);
	line-height: 20px;
}
footer .navbar {
	display: flex;
}
footer .navbar li {
	margin-right: 35px;
}
footer .navbar li a {
	color: rgb(150, 150, 150);
	font-size: 24px;
}
footer .navbar li a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;
}


/* --------- MODAL --------- */
#modal-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}
#modal-box {
	padding: 5px 0;
	background-color: #fff;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#modal-header {
	display: flex;
	justify-content: flex-end;
}
#modal-content {
	margin: 20px 0;
}
#modal-message {
	padding: 0 20px;
	margin-bottom: 35px;
	line-height: 20px;
	font-weight: bold;
}
#modal-btn {
	width: 100%;
	padding: 0 20px;
	text-align: right;
}
#modal-btn button {
	width: 65px;
	margin-left: 3px;
	font-size: 13px;
}
#modal-btn button:hover {
	border: 1px solid rgb(210, 40, 40);
	background-color: white;
	color: rgb(210, 40, 40);
}
#modal-close-btn {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	border: 1px solid transparent;
	border-radius: 50%;
	color: rgb(150, 150, 150);
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#modal-close-btn:hover {
	background-color: #eee;
	color: rgb(100, 100, 100);
}


/* --------- PAGENATION --------- */
.pagenation {
	width: 100%;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagenation ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pagenation ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pagenation ul li a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 28px;
	margin: 0 5px;
	border-radius: 50%;
	background-color: white;
	color: rgb(150, 150, 150);
	font-size: 16px;
	text-align: center;
}
.pagenation ul li a.active {
	background-color: rgb(210, 40, 40);
	color: white;
}
.pagenation ul li a:not([class="active"]):hover {
	background-color: #eee;
}


