/* ---------- INDEX PAGE ---------- */
.banner {	/* 이미지: 1650x700 */
	height: 700px;
	border: 1px solid tomato;
}

/* ---------- LOGIN, AGREE, REGISTER PAGE DEFAULT ---------- */
.form-box {
	width: 500px; 
	padding: 55px 50px;
	margin: 200px 0;
	box-shadow: 0 0 5px rgb(150, 150, 150); 
	border-radius: 8px;
}
.form-box h2 {
	margin-bottom: 40px;
}
.form-box .form-item {
	margin-bottom: 15px;
}
.form-box .form-item label {
	font-size: 16px; 
	font-weight: bold;
}	
.form-box .form-item input {
	width: 100%;
	height: 40px;
	padding: 5px 15px;
	margin: 10px 0 5px 0; 
	font-size: 15px;
}
.form-item small {
	color: rgb(210, 40, 40); 
	font-size: 14px;
	display: none;
}
.form-btn button {
	width: 100%;
	height: 40px;
	margin-top: 30px; 
	border: 1px solid rgb(210, 40, 40);
	background-color: rgb(210, 40, 40); 
	color: #fff; 
	font-size: 16px;
	font-weight: bold;
}


/* ---------- LOGIN PAGE ---------- */
.form-chk input {
	position: relative;
	margin-left: 0;
	top: 0px;
}
.form-chk span {
	font-size: 14px; 
	font-weight: bold;
}


/* ---------- REGISTER PAGE ---------- */
#addr1 {
	margin-bottom: 2px;
}
#addr2 {
	margin-top: 2px;
}


/* ---------- AGREE PAGE ---------- */
.agree-box {
	width: 500px; 
	padding: 55px 50px;
	margin: 200px 0;
	box-shadow: 0 0 5px rgb(150, 150, 150); 
	border-radius: 8px;
}
.agree-box h2 {
	margin-bottom: 40px;
}
.agree-item {
	padding: 12px 25px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 17px;
	font-weight: bold;
}
.agree-item .agree-content {
	font-weight: 400;
}
.agree-item input {
	margin-right: 5px;
}
.agree-chk {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.agree-chk small {
	color: rgb(210, 40, 40);
	font-size: 12px;
}
.agree-chk .show-content-btn,
.agree-chk .hide-content-btn {
	width: 25px;
	height: 25px;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 50%;
	color: #ccc;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
}
.agree-chk .hide-content-btn {
	border: 1px solid rgb(210, 40, 40);
	color: rgb(210, 40, 40);
	display: none;
}
.agree-chk .show-content-btn:hover {
	border: 1px solid rgb(210, 40, 40);
	color: rgb(210, 40, 40);
	transition: 1s;
}
.agree-content {
	width: 100%;	
	height: 200px;
	line-height: 18px;
	padding: 10px;
	margin-top: 15px;
	background-color: rgba(230, 230, 230, 0.1);
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: scroll;
	display: none;
}
.agree-content::-webkit-scrollbar {
	width: 8px;
}
.agree-content::-webkit-scrollbar-thumb {
	background-color: rgba(210, 40, 40, 0.5);
	border-radius: 100px;
}


/* ---------- PRODUCT LIST PAGE ---------- */
.product-box {
	margin: 100px 0;
}
.product-category {
	margin: 50px 0;
	padding-bottom: 10px;
	border-bottom: 2px solid rgb(52, 52, 54);
}
.product-item-box {
	display: grid;
	grid-template-columns: repeat(5, 300px);
	grid-column-gap: 37.5px;	
}
.product-item { /* 이미지: 300x350 */
	width: 300px;
}
.product-item .product-info {
	width: 100%;
	height: 350px;
	position: relative;
	overflow: hidden;
}
.product-item .product-info .product-detail {
	width: 100%;
	height: 100%;
	padding: 40px 20px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 350px;
	opacity: 0;
	z-index: 10;
	transition: all 0.7s ease-in-out;
}
.product-info:hover .product-detail {
	opacity: 1;
	transform: translateY(-350px);
	border: 1px solid #eee;
}
.product-detail-title {
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(52, 52, 54);
	font-size: 20px;
	font-weight: bold;
}
.product-detail-desc {
	width: 100%;
	height: 80px;
	word-break: break-all;
	color: rgb(80, 80, 80);
	font-size: 16px;
	text-align: center;
}
.product-detail-info {
	margin: 24px 0;
	color: rgb(80, 80, 80);
}
.product-detail-info small {
	display: inline-block;
	margin: 3px 0;
	font-size: 14px;
}
.product-detail-info small strong {
	font-weight: bold;
}
.product-info .add-cart-btn {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(210, 40, 40);
	border-radius: 3px;
	background-color: transparent;
	color: rgb(210, 40, 40);
	font-size: 18px;
	float: right;
}
.product-item .product-title {
	width: 100%;
	padding: 15px 0 12px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.product-price {
	width: 100%;
	margin-bottom: 100px;
	font-size: 16px;
	text-align: center
}


/* ---------- CART PAGE ---------- */
.cart-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cart-box {
	width: 1250px;
	padding-top: 50px;
	padding-bottom: 500px;
}
.cart-box h2 {
	margin-bottom: 30px;
}
.cart-box table td:nth-child(1) { /* 체크박스 */
	width: 6%;
}
.cart-box table td:nth-child(2) { /* 상품명 */
	width: 60%;
}
.cart-box table td:nth-child(2) .pname-box {
	padding: 10px 60px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.cart-box table td:nth-child(2) .pname-box .pimg {
	margin-right: 60px;
}
.cart-box table td:nth-child(3) input { /* 수량 */
	width: 70px;
	height: 27px;
	vertical-align: middle;
	border: 1px solid  rgb(120, 120, 120);
	border-radius: 5px;
	text-align: center;
}
.cart-box table td:nth-child(3) button {
	width: 40px;
	height: 27px;
	margin-left: 3px;
	font-size: 13px;
	vertical-align: middle;
}
.cart-box table td:nth-child(4) { /* 금액 */
	width: 15%;
}
.cart-box table td:nth-child(5) { /* 삭제버튼 */
	width: 6%;	
}
.cart-box table td:nth-child(5) a {
	color: rgb(170, 170, 170);
	font-size: 16px;	
}
.cart-box table td:nth-child(5) a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;	
}
.cart-box-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.order-total {
	font-size: 13px;
	font-weight: bold;
}
.order-total span {
	margin-left: 25px;
	font-size: 20px;
}
.cart-order-btn {
	margin-top: 25px;
	text-align: right;
}
.cart-order-btn button {
	margin-right: 3px;
	border: 1px solid rgb(210, 40, 40);
	background-color: rgb(210, 40, 40);
	color: white;
}


/* ---------- ORDER PAGE ---------- */
.order-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.order-box {
	width: 1250px;
	padding-top: 50px;
	padding-bottom: 500px;
}
.order-box h2 {
	margin-bottom: 30px;
}
.order-box table td:nth-child(1) { /* 번호 */
	width: 8%;
}
.order-box table td:nth-child(2) .pname-box { /* 상품명 */
	padding: 10px 60px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.order-box table td:nth-child(2) .pname-box .pimg {
	margin-right: 60px;
}
.order-box table td:nth-child(3) { /* 상품가격 */
	width: 13%;
}
.order-box table td:nth-child(4) { /* 수량 */
	width: 13%;
}
.order-box table td:nth-child(5) { /* 주문금액 */
	width: 13%;
}
.order-box-bottom {
	margin: 20px 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.order-btns {
	margin-top: 25px;
	text-align: right;
}
.order-btns button:first-child {
	margin-right: 3px;
	border: 1px solid rgb(210, 40, 40);
	background-color: rgb(210, 40, 40);
	color: white;	
}


/* ---------- CUSTOMER: NOTICE LIST PAGE ---------- */
.notice-list td:nth-child(1) { /* 번호 */
	width: 8%;	
}
.notice-list td:nth-child(2) { /* 구분 */
	width: 15%;
}
.notice-list td:nth-child(3) { /* 제목 */
	text-align: left;
}
.notice-list td:nth-child(3) a { 
	color: rgb(100, 100, 100);
}
.notice-list td:nth-child(3) a:hover { 
	color: rgb(210, 40, 40);
}
.notice-list td:nth-child(4) { /* 작성자 */
	width: 12%;	
}
.notice-list td:nth-child(5) { /* 등록일 */
	width: 12%;
}
.notice-list td:nth-child(6) { /* 조회수 */
	width: 12%;	
}


/* ---------- CUSTOMER: BOARD LIST PAGE ---------- */
.board-list td:nth-child(1) { /* 번호 */
	width: 8%;	
}
.board-list td:nth-child(2) { /* 구분 */
	width: 15%;
}
.board-list td:nth-child(3) { /* 제목 */
	text-align: left;
}
.board-list td:nth-child(3) a { 
	color: rgb(100, 100, 100);
}
.board-list td:nth-child(3) a:hover { 
	color: rgb(210, 40, 40);
}
.board-list td:nth-child(4) { /* 작성자 */
	width: 12%;	
}
.board-list td:nth-child(5) { /* 등록일 */
	width: 12%;
}
.board-list td:nth-child(6) { /* 조회수 */
	width: 12%;	
}


/* ---------- WRITE & INFO PAGE: DEFAULT ---------- */
.content-box {
	width: 950px;
	padding: 50px;
	padding-top: 60px;
	border-top: 3px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 4px 0px rgb(150, 150, 150);
}
.content-item select,
.content-item input {
	height: 40px;
	padding: 0 15px;
	margin-bottom: 10px;
	vertical-align: middle;
}
.content-item select {
	width: 125px;
	margin-right: 1px;
	font-size: 15px;
}
.content-item input {
	width: 720px;
	font-size: 15px;
}
.content-item textarea {
	width: 100%;
	height: 450px;
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 15px;
}
.content-btn {
	padding-left: 0 20px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content-btn div:nth-child(2) button:first-child {
	border: 1px solid rgb(210, 40, 40);
	background-color: rgb(210, 40, 40);
	color: white;
}
.content-btn div:nth-child(2) button:last-child {
	margin-left: 5px;
}


/* ---------- MYPAGE: MY INFO PAGE ---------- */
.myinfo-box {
	width: 950px;
	padding: 50px;
	padding-top: 60px;
	border-top: 3px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 4px 0px rgb(150, 150, 150);	
}
.myinfo-item {
	padding: 20px 0;
	margin-bottom: 35px;
	display: flex;
	border-left: 2px solid rgb(210, 40, 40);
	border-radius: 3px;
	box-shadow: 0px 1px 5px 1px rgb(200, 200, 200);
}
.myinfo-item .item-left,
.myinfo-item .item-right {
	width: 50%;
	height: 40px;
	padding: 0 20px;
	display: flex;
	align-items: center;	
	font-size: 15px;
}
.myinfo-item .title {
	width: 25%;
	font-weight: bold;
}
.myinfo-item .title small {
	font-size: 13px;
}
.myinfo-item .content {
	width: 75%;
}
.myinfo-item input {
	width: 100%;
	height: 30px;
	padding: 3px 10px;
	font-size: 14px;
}
.myinfo-item input:read-only {
    border: none;
}
.myinfo-item input::placeholder {
	font-size: 13px;
}
#myinfo-item input {
	width: 83%;
	vertical-align: middle;
}
#myinfo-item button {
	width: 40px;
	height: 30px;
	border: 1px solid #ccc;
	margin-left: 3px;
	font-size: 13px;
	vertical-align: middle;
}
#myinfo-item button:hover {
	border: 1px solid rgb(210, 40, 40);
}
#agree-chk input {
	width: 3%;
	margin: 0;
	margin-right: 8px;
    position: relative;
    top: 1px;
}
#agree-chk span {
	font-size: 15px;
	font-weight: bold;
}
.myinfo-btn {
	padding-left: 0 20px;
	margin-top: 35px;
	text-align: right;
}
.myinfo-btn button {
	border: 1px solid rgb(210, 40, 40);
	background-color: rgb(210, 40, 40);
	color: white;
}

/* ---------- MYPAGE: ORDER LIST PAGE ---------- */
.order-list td:nth-child(1) { /* 번호 */
	width: 5%;	
}
.order-list td:nth-child(2) { /* 주문번호 */
	width: 25%;
	text-align: left;
}
.order-list td:nth-child(3) { /* 상품명 */
	text-align: left;
}
.order-list td:nth-child(3) a { 
	color: rgb(100, 100, 100);
}
.order-list td:nth-child(3) a:hover { 
	color: rgb(210, 40, 40);
}
.order-list td:nth-child(4) { /* 주문금액 */
	width: 12%;	
}
.order-list td:nth-child(5) { /* 주문일 */
	width: 12%;
}


/* ---------- MYPAGE: MYBOARD LIST PAGE ---------- */
.myboard-list td:nth-child(1) { /* 번호 */
	width: 8%;	
}
.myboard-list td:nth-child(2) { /* 구분 */
	width: 15%;
}
.myboard-list td:nth-child(3) { /* 제목 */
	text-align: left;
}
.myboard-list td:nth-child(3) a { 
	color: rgb(100, 100, 100);
}
.myboard-list td:nth-child(3) a:hover { 
	color: rgb(210, 40, 40);
}
.myboard-list td:nth-child(4) { /* 작성자 */
	width: 12%;	
}
.myboard-list td:nth-child(5) { /* 등록일 */
	width: 12%;
}
.myboard-list td:nth-child(6) { /* 조회수 */
	width: 12%;
}