@charset "UTF-8";



/* Modal 
.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}

.modal-content {
	padding: 40px;
	background-color: #fff;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#modal-member-info a {
	color: #aaa;
	font-size: 24px;
}

#modal-member-info a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;
}

#modal-member-info table {
	margin: 25px 0;
}

#modal-member-info table tr:first-child {
	border-top: 3px solid rgb(210, 40, 40);
}

#modal-member-info table td {
	padding: 20px 10px;
}

#modal-member-info table td:nth-child(odd) {
	width: 20%;
	font-weight: bold;
}

#modal-member-info table tr:nth-child(3) td:nth-child(2) {
	text-align: left;
}

#modal-member-info table input,
#modal-member-info table select {
	width: 100%;
	padding: 3px 10px;
	border-radius: 3px;
}

#modal-member-info table input[id="passwd"],
#modal-member-info table select {
	border: 1px solid #ccc;
}

#modal-member-info table input[id="passwd"]:focus,
#modal-member-info table select:focus {
	border: 1px solid rgb(210, 40, 40);
}
		
.modal-info-btn {
	text-align: right;
}

#modal-member-info button {
	padding: 5px 15px;
	margin: 0 3px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	color: #aaa;
	font-weight: bold;
}		

#modal-member-info button:nth-child(1) {
	border: 1px solid rgb(210, 40, 40);
	color: rgb(210, 40, 40);
}

#modal-message h4 {
	margin-bottom: 30px;
}	

#modal-message button {
	padding: 5px 15px;
	margin: 0 3px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	color: #aaa;
	font-weight: bold;
}

#modal-message button:nth-child(1) {
	border: 1px solid rgb(210, 40, 40);
	color: rgb(210, 40, 40);
}
*/