@charset "UTF-8";

#members-content {
	width: 1450px;
	height: 100vh;
	padding-top: 50px;
	padding-left: 50px;
	border-left: 1px solid #ccc;
}

#members-content h3 {
	margin-bottom: 30px;
}

#members-content table {
	width: 100%;
}

/* 번호 */
#members-content table td:nth-child(1) {
	width: 8%;	
}

/* 이메일 */
#members-content table td:nth-child(2) {
	width: 15%;
}

/* 이름 */
#members-content table td:nth-child(3) {
	width: 10%;	
}

/* 연락처 */
#members-content table td:nth-child(4) {
	width: 12%;	
}

/* 주소 */
#members-content table td:nth-child(5) {
	text-align: left;
}

/* 등급 */
#members-content table td:nth-child(6) {
	width: 10%;	
}

/* 가입일 */
#members-content table td:nth-child(7) {
	width: 12%;
}

/* 수정/삭제 */
#members-content table td:nth-child(8) {
	width: 6%;	
	padding: 0 3px;
}

#members-content table td:nth-child(8) a {
	color: rgb(170, 170, 170);
	font-size: 16px;
	margin: 0 5px;
}

#members-content table td:nth-child(8) a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;
}

/* 모달: 회원정보 */
#info-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}

#info-modal-box {
	padding: 5px 0;
	background-color: #fff;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#info-modal-header {
	text-align: right;
}

#info-modal-content {
	margin: 15px 0;
}

#member-infomation {
	padding: 15px 50px;
}

#member-infomation table {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}

#member-infomation table tr:first-child {
	border-top: 3px solid rgb(100, 100, 100);
}

#member-infomation table td {
	padding: 20px 10px;
}

#member-infomation table td:nth-child(odd) {
	width: 20%;
	font-weight: bold;
}

#member-infomation table tr:nth-child(3) td:nth-child(2) {
	text-align: left;
}

#member-infomation table input,
#member-infomation table select {
	width: 100%;
	padding: 3px 10px;
	border: none;
	border-radius: 3px;
}

#member-infomation table input[id="passwd"],
#member-infomation table select {
	border: 1px solid #ccc;
}

#member-infomation table input[id="passwd"]:focus,
#member-infomation table select:focus {
	border: 1px solid rgb(100, 100, 100);
}

#agree-chk input {
    position: relative;
    top: 2px;
}

#agree-chk span {
	font-size: 14px;
	font-weight: bold;
}
	
#member-infomation-btn {
	text-align: right;
}	
	
#member-infomation-btn button {
	padding: 5px 15px;
	margin: 20px 3px 0 3px;
	background-color: #fff;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 3px;
	color: rgb(100, 100, 100);
}		

#member-infomation-btn button:hover {
	border: 1px solid rgb(210, 40, 40);
	border-radius: 3px;
	background-color: rgb(210, 40, 40);
	color: white;
	transition: 0.2s;
}
/* 모달: 회원정보 끝 */

.content-bottom {
	margin: 15px 0 20px 0;
}

.content-bottom button,
.content-bottom select,
.content-bottom input {
	height: 30px;
	vertical-align: middle;
	padding: 3px 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.content-bottom button {
	width: 80px;
	border: 1px solid rgb(210, 40, 40);
	background-color: white;
	color: rgb(210, 40, 40);
}

.content-bottom .search select {
	width: 90px;
}

.content-bottom .search input {
	width: 150px;
	padding-left: 10px;
}

.content-bottom .search select:focus,
.content-bottom .search input:focus {
	border: 1px solid rgb(100, 100, 100);
}

.content-bottom .search button {
	width: 65px;
	border: 1px solid rgb(210, 40, 40);
	background-color: rgb(210, 40, 40);
	color: white;
}

.content-bottom input[name="searchKeyword"]::placeholder {
	color: #bbb;
	font-size: 13px;
}