@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}
.container {
	width: 1650px;
	margin: 0 auto; 
	border: 1px solid tomato;
}
header {
	padding: 25px 0; 
	box-shadow: 0 5px 5px -5px rgb(150, 150, 150);
}
footer {
	padding: 50px 0; 
	color: rgb(150, 150, 150); 
	box-shadow: 0 -5px 5px -5px rgb(150, 150, 150);
}
a {
	color: #000;
}
input::placeholder {
	color: #bbb;
	font-size: 13px;
}

/* ----- FLEX ----- */
.flex {
	display: flex;
}
.justify-sb {
	justify-content: space-between;
}
.justify-sa {
	justify-content: space-around;
}
.justify-ctr {
	justify-content: center;
}
.justify-fs {
	justify-content: flex-start;
}
.justify-fe {
	justify-content: flex-end;
}
.align-items-ctr {
	align-items: center;
}


