@charset "UTF-8";
* {
	padding: 0; 	
	margin: 0; 
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	padding: 0; 
	margin: 0; 	
	list-style: none;
}
button {
	outline: 0;	
	border: 0; 
	cursor: pointer;
}
input, select {
	outline: 0;
}
textarea {
	outline: 0; 
	resize: none;
}
table {
	border-collapse: collapse;
}