@charset "UTF-8";

.admin-header {
	width: 1690px; 
	padding: 30px 20px; 
	margin: 0 auto;
}

.admin-header ul li {
	margin-left: 30px;
}

.admin-header ul li a {
	color: rgb(150, 150, 150);
	font-size: 16px;
}

.admin-header ul li a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;
}