.product-box {
	margin: 100px 0;
}
.product-category {
	margin: 50px 0;
	padding-bottom: 10px;
	border-bottom: 2px solid rgb(52, 52, 54);
	font-size: 24px;
	font-weight: bold;
}
.product-items {
	display: grid;
	grid-template-columns: repeat(5, 300px);
	grid-column-gap: 37.5px;
}
.product-image {
	width: 100%;
	height: 350px;
	overflow: hidden;
	position: relative;
}
.product-image .product-info {
	width: 100%;
	padding: 30px 20px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 350px;
	opacity: 0;
	z-index: 10;
	transition: all 0.5s ease-in-out;
}
.product-image:hover .product-info {
	opacity: 1;
	transform: translateY(-350px);
	border: 1px solid #eee;
}
.product-info-title {
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(52, 52, 54);
	font-size: 20px;
	font-weight: bold;
}
.product-info-desc {
	width: 100%;
	height: 80px;
	word-break: break-all;
	color: rgb(80, 80, 80);
	font-size: 16px;
	text-align: center;
}
.product-detail {
	margin: 20px 0;
	color: rgb(80, 80, 80);
}
.product-detail small {
	display: inline-block;
	margin: 3px 0;
}
.cart-btn {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(210, 40, 40);
	border-radius: 3px;
	background-color: transparent;
	color: rgb(210, 40, 40);
	font-size: 18px;
}
.product-title {
	padding: 8px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.product-price {
	margin-bottom: 100px;
	font-size: 16px;
	text-align: center;
}
