@charset "UTF-8";

#notice-content {
	width: 1450px;
	height: 100vh;
	padding-top: 50px;
	padding-left: 50px;
	border-left: 1px solid #ccc;
}

#notice-content h3 {
	margin-bottom: 30px;
}

#notice-content .write-box {
	width: 950px;
	padding: 50px;
	border: 1px solid #ccc;
	border-top: 3px solid black;
}

#notice-content .write-title select,
#notice-content .write-title input {
	height: 40px;
	vertical-align: middle;
	padding: 0 15px;
	margin-bottom: 10px;
	border: 1px solid #bbb;
	border-radius: 2px;
	font-size: 15px;
}

#notice-content .write-title input {
	width: 720px;
}

#notice-content .write-title select {
	width: 120px;
}

#notice-content .write-content textarea {
	width: 100%;
	height: 450px;
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid #bbb;
	border-radius: 2px;
	font-size: 15px;
}

#notice-content .write-title select:focus,
#notice-content .write-title input:focus,
#notice-content .write-content textarea:focus {
	border: 1px solid rgb(100, 100, 100);
}

#notice-content .write-btn {
	text-align: right;
}

#notice-content .write-btn button {
	width: 80px;
	height: 35px;
	padding: 3px 5px;
	margin-left: 5px;
	border: 1px solid rgb(120, 120, 120);
	border-radius: 5px;
	background-color: white;
	color: rgb(120, 120, 120);
	font-size: 14px;
}

#notice-content .write-btn button:nth-child(1) {
	border: 1px solid rgb(210, 40, 40);
	background-color: rgb(210, 40, 40);
	color: white;
}

#notice-content .write-btn button:nth-child(2) {
	border: 1px solid rgb(210, 40, 40);
	background-color: white;
	color: rgb(210, 40, 40);
}

#notice-content input::placeholder {
	color: #bbb;
	font-size: 14px;
}