@charset "UTF-8";

.pagenation ul li a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 28px;
	margin: 0 8px;
	border: 1px solid rgb(210, 210, 210);
	border-radius: 50%;
	background-color: white;
	color: rgb(150, 150, 150);
	font-size: 16px;
	text-align: center;
}

.pagenation ul li a.active {
	border: 1px solid transparent;
	background-color: rgb(210, 40, 40);
	color: white;
}

.pagenation ul li a:hover {
	background-color: rgb(230, 230, 230);
}