@charset "UTF-8";

aside {
	width: 200px;
	padding-top: 30px;	
}

aside ul li {
	margin: 15px 0;
	padding: 8px 20px;
	font-size: 16px;
}

aside ul li:hover {
	background-color: rgb(210, 40, 40);
}

aside ul li:hover span {
	color: white;
}
		
aside ul li span {
	margin-right: 5px;
	color: rgb(150, 150, 150);
}

.content {
	width: 1450px;
	padding-top: 50px;
	padding-left: 50px;
	border-left: 1px solid #ccc;
}

.content h3 {
	margin-bottom: 30px;
}

.content table {
	width: 100%;
}

.content table td:nth-child(5) {
	text-align: left;
}

.content table td:nth-child(8) {
	padding: 0 3px;
}

.content table td:nth-child(8) a {
	color: rgb(170, 170, 170);
	font-size: 17px;
	margin: 0 5px;
}
	
.content table td:nth-child(8) a:hover {
	color: rgb(210, 40, 40);
	transition: 1s;
}

.content .paging ul li {
	width: 30px;
	height: 30px;
	line-height: 28px;
	margin: 0 8px;
	border: 1px solid rgb(210, 210, 210);
	border-radius: 50%;
	background-color: white;
	color: rgb(150, 150, 150);
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.content .paging ul li:hover {
	background-color: rgba(230, 230, 230);
}

.content .paging ul li:nth-child(3) {
	border: 1px solid transparent;
	background-color: rgb(210, 40, 40);
	color: white;
}

.content .write {
	margin: 15px 0;
	text-align: right;
}

.content .write button {
	width: 80px;
	padding: 6px 8px;
	margin-left: 5px;
	border-radius: 5px;
	border: 1px solid rgb(210, 40, 40);
	background-color: white;
	color: rgb(210, 40, 40);
	font-weight: bold;
}