@charset "UTF-8";

.login-box {
	width: 500px;
	padding: 55px 50px;
	margin: 200px 0;
	box-shadow: 0 0 5px rgb(150, 150, 150);
	border-radius: 8px;
}

.login-box h2 {
	margin-bottom: 30px;
}

.login-info {
	margin-bottom: 12px;
}

.login-info label {
	font-size: 14px;
	font-weight: bold;
}	

.login-info input {
	width: 100%;
	padding: 8px 15px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.login-info input:focus {
	border: 1px solid rgb(100, 100, 100);
}

.login-chk input {
    position: relative;
    top: 2px;
}

.login-chk span {
	font-size: 13px;
	font-weight: bold;	
}

::placeholder {
	color: #bbb;
	font-size: 13px;
}

.login-info small {
	color: rgb(210, 40, 40);
}

.login-btn button {
	width: 100%;
	padding: 10px 0;
	margin-top: 30px;
	border-radius: 3px;
	background-color: rgb(210, 40, 40);
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}