@charset "UTF-8";

.products-box {
	width: 100%;
	border: 1px solid tomato;
}

.products-banner {
	height: 700px;
	border: 1px solid blue;
}

.products {
	margin: 100px 0 200px 0;
}

.products .product-category {
	margin: 50px 0;
	padding-bottom: 5px;
	border-bottom: 2px solid rgb(52, 52, 54);
	font-size: 24px;
	font-weight: bold;
}

.product .product-image {
	width: 300px;
	height: 350px;
	overflow: hidden;
	position: relative;
}

.product .product-image .product-detail {
	width: 100%;
	height: 350px;
	padding: 30px 20px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 350px;
	opacity: 0;
	z-index: 10;
	transition: all 0.5s ease-in-out;
}

.product .product-image:hover .product-detail {
	opacity: 1;
	transform: translateY(-350px);
	border: 1px solid #eee;
}

.product .product-image .product-detail .product-detail-title {
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(52, 52, 54);
	font-size: 20px;
	font-weight: bold;
}

.product .product-image .product-detail .product-detail-desc {
	width: 100%;
	height: 80px;
	word-break: break-all;
	color: rgb(80, 80, 80);
	font-size: 14px;
	text-align: center;
}

.product .product-image .product-detail .product-detail-info {
	margin: 15px 0 30px 0;
	color: rgb(80, 80, 80);
}

.product .product-image .product-detail .add-cart button {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(210, 40, 40);
	border-radius: 3px;
	background-color: transparent;
	color: rgb(210, 40, 40);
	font-size: 18px;
}

.product .product-title {
	padding: 8px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.product .product-price {
	font-size: 16px;
	text-align: center;
}

