.header {
	padding: 8px 0;
}
.header h1 {
	font-size: 22px;
}
.navbar-header ul li {
	margin: 0 60px; 
	padding: 5px 3px;	
	border: 2px solid transparent;
}
.navbar-header ul li:hover {
	border-bottom: 2px solid rgb(210, 40, 40); 
	transition: 1s;
}